<div class="aboutContainer row">
  <div class="qualificationContainer col-3">
    <img class="faceImg img-fluid" [src]="face" alt="Imagen de perfil" width="250">
    <h1 class="name text-center">{{nombre}}</h1>
    <p class="qualification text-center">{{Description}}</p>
  </div>
  <div class="textAbout col-9">
    <h3 class="sectioTitle">Sobre mí</h3>
    <p class="aboutDescription text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore
      perferendis recusandae accusantium ut, odio nostrum soluta distinctio! Nihil esse pariatur quisquam hic, aliquid
      consequuntur nesciunt numquam optio debitis, saepe dolores.</p>
  </div>
</div>
